In [2]:
import pandas as pd
df = pd.read_csv("Desktop/companies.csv")
df.dropna(subset=['domain'])
df.to_parquet('df.parquet.gzip' , compression ='gzip')
pd.read_parquet('df.parquet.gzip')

,Unnamed: 0,name,domain,year founded,industry,size range,locality,country,linkedin url,current employee estimate,total employee estimate
0,5872184,ibm,ibm.com,1911.0,information technology and services,10001+,"new york, new york, united states",united states,linkedin.com/company/ibm,274047,716906
1,4425416,tata consultancy services,tcs.com,1968.0,information technology and services,10001+,"bombay, maharashtra, india",india,linkedin.com/company/tata-consultancy-services,190771,341369
2,21074,accenture,accenture.com,1989.0,information technology and services,10001+,"dublin, dublin, ireland",ireland,linkedin.com/company/accenture,190689,455768
3,2309813,us army,goarmy.com,1800.0,military,10001+,"alexandria, virginia, united states",united states,linkedin.com/company/us-army,162163,445958
4,1558607,ey,ey.com,1989.0,accounting,10001+,"london, greater london, united kingdom",united kingdom,linkedin.com/company/ernstandyoung,158363,428960
5,3844889,hewlett-packard,hpe.com,1939.0,information technology and services,10001+,"palo alto, california, united states",united states,linkedin.com/company/hewlett-packard-enterprise,127952,412952
6,2959148,cognizant technology solutions,cognizant.com,1994.0,information technology and services,10001+,"teaneck, new jersey, united states",united states,linkedin.com/company/cognizant,122031,210020
7,5944912,walmart,walmartcareers.com,1962.0,retail,10001+,"withee, wisconsin, united states",united states,linkedin.com/company/walmart,120753,272827
8,3727010,microsoft,microsoft.com,1975.0,computer software,10001+,"redmond, washington, united states",united states,linkedin.com/company/microsoft,116196,276983
9,3300741,at&t,att.com,1876.0,telecommunications,10001+,"dallas, texas, united states",united states,linkedin.com/company/at&t,115188,269659
10,5412257,united states air force,airforce.com,1947.0,defense & space,10001+,"randolph, texas, united states",united states,linkedin.com/company/united-states-air-force,113997,316549
11,2780814,pwc,pwc.com,1998.0,accounting,10001+,"new york, new york, united states",united states,linkedin.com/company/pwc,111372,379447
12,3972223,wells fargo,wellsfargo.com,NaN,financial services,10001+,"san francisco, california, united states",united states,linkedin.com/company/wellsfargo,109532,264101
13,1454663,infosys,infosys.com,1981.0,information technology and services,10001+,"bangalore, karnataka, india",india,linkedin.com/company/infosys,104752,215718
14,3221953,deloitte,deloitte.com,1900.0,management consulting,10001+,"new york, new york, united states",united states,linkedin.com/company/deloitte,104112,329145
15,2994580,citi,citigroup.com,1812.0,financial services,10001+,"new york, new york, united states",united states,linkedin.com/company/citi,101482,298171
16,5372097,bank of america,bankofamerica.com,1968.0,banking,10001+,"charlotte, north carolina, united states",united states,linkedin.com/company/bank-of-america,97357,279769
17,1170519,jpmorgan chase & co.,jpmorganchase.com,1823.0,financial services,10001+,"new york, new york, united states",united states,linkedin.com/company/jpmorgan-chase,95234,242135
18,4000842,us navy,navy.com,NaN,military,10001+,"washington, district of columbia, united states",united states,linkedin.com/company/us-navy,94458,325740
19,4306268,amazon,amazon.com,1994.0,internet,10001+,"seattle, washington, united states",united states,linkedin.com/company/amazon,93247,161866
20,5735407,apple,apple.com,1976.0,consumer electronics,10001+,"cupertino, california, united states",united states,linkedin.com/company/apple,90095,179531
21,2441266,siemens,siemens.com,1847.0,electrical/electronic manufacturing,10001+,"munich, bavaria, germany",germany,linkedin.com/company/siemens,87381,240528
22,229577,oracle,oracle.com,1977.0,information technology and services,10001+,"redwood shores, california, united states",united states,linkedin.com/company/oracle,85090,206211
23,1685535,nokia,nokia.com,1865.0,telecommunications,10001+,"espoo, uusimaa, finland",finland,linkedin.com/company/nokia,84327,251795
24,4604890,education nationale,education.gouv.fr,NaN,public policy,10001+,"paris, île-de-france, france",france,linkedin.com/company/education-nationale,84218,101083
25,6021320,capgemini,capgemini.com,1967.0,information technology and services,10001+,"france, aquitaine, france",france,linkedin.com/company/capgemini,84179,203525
26,1373987,wipro technologies,wipro.com,1945.0,information technology and services,10001+,"bangalore, karnataka, india",india,linkedin.com/company/wipro,78261,177368
27,4968033,hsbc,hsbc.com,1865.0,financial services,10001+,"london, greater london, united kingdom",united kingdom,linkedin.com/company/hsbc,75640,225649
28,1001070,google,google.com,1998.0,internet,10001+,"mountain view, california, united states",united states,linkedin.com/company/google,75109,131349
29,4186125,united states postal service,usps.com,NaN,government administration,10001+,"washington, district of columbia, united states",united states,linkedin.com/company/usps,74357,104159
...,...,...,...,...,...,...,...,...,...,...,...
1048545,1132470,cirqit,None,NaN,computer software,Nov-50,"san josé, san jose, costa rica",costa rica,linkedin.com/company/cirqit,7,67
1048546,2666242,nj division of motor vehicles,None,NaN,legal services,Nov-50,"rio grande, new jersey, united states",united states,linkedin.com/company/nj-division-of-motor-vehi...,7,13
1048547,5690532,avetisov business coaching,pivdom.ru,NaN,wholesale,Nov-50,None,None,linkedin.com/company/avetisov-business-coaching,7,7
1048548,1073949,atlanta custom fabricators,atlantacustomfab.com,NaN,accounting,Nov-50,"douglasville, georgia, united states",united states,linkedin.com/company/atlanta-custom-fabricators,7,9
1048549,4053287,trips southamerica,trips-southamerica.com,NaN,"leisure, travel & tourism",Nov-50,"córdoba, cordoba, argentina",argentina,linkedin.com/company/trips-southamerica,7,8
1048550,2031311,risch,hrisch.com,1935.0,food & beverages,Nov-50,"rochester, new york, united states",united states,linkedin.com/company/risch,7,14
1048551,5737608,mahdeen - certified accountants,None,1999.0,accounting,Nov-50,None,None,linkedin.com/company/mahdeen---certified-accou...,7,7
1048552,4191698,tratamiento de aguas residuales municipales,tratamientodeaguasresidualesmunicipales.com,NaN,biotechnology,Nov-50,None,None,linkedin.com/company/tratamiento-de-aguas-resi...,7,7
1048553,1964638,indiana memorial group,indianamemorialgroup.com,2000.0,consumer services,Nov-50,"muncie, indiana, united states",united states,linkedin.com/company/indiana-memorial-group,7,22
1048554,1512333,gos products for business,gosproducts.com,1959.0,business supplies and equipment,Nov-50,"phoenix, arizona, united states",united states,linkedin.com/company/gos-products-for-business,7,12
1048555,4191695,paul + williams,paulandwilliams.com,2007.0,public relations and communications,Nov-50,"los angeles, california, united states",united states,linkedin.com/company/paul-&-williams,7,14
1048556,1512335,herb real estate inc.,gethumanage.com,NaN,real estate,Nov-50,None,None,linkedin.com/company/herb-real-estate-inc.,7,10
1048557,2133427,domex ltd,domex-uk.co.uk,2003.0,consumer electronics,Nov-50,"london, london, united kingdom",united kingdom,linkedin.com/company/domex-ltd,7,13
1048558,3051814,richini,richini.com.br,1998.0,apparel & fashion,Nov-50,"cianorte, parana, brazil",brazil,linkedin.com/company/richini,7,17
1048559,7129145,peco controls corporation,pecocontrols.com,1953.0,electrical/electronic manufacturing,Nov-50,"modesto, california, united states",united states,linkedin.com/company/peco-controls-corporation,7,20
1048560,1102576,food manufacture and foodmanjobs,grandhotel-alingsas.se,NaN,publishing,Nov-50,None,None,linkedin.com/company/food-manufacture-and-food...,7,9
1048561,130475,polaroid fotobar,polaroidfotobar.com,2012.0,retail,Nov-50,"delray beach, florida, united states",united states,linkedin.com/company/polaroid-fotobar,7,76
1048562,7129140,dmx africa,dmx.co.za,1993.0,marketing and advertising,Nov-50,"sandown, gauteng, south africa",south africa,linkedin.com/company/dmx-africa-pty-ltd,7,13
1048563,1074015,cyan digital house,cyandh.com,2011.0,information technology and services,Nov-50,"cairo, al qahirah, egypt",egypt,linkedin.com/company/cyan-digital-house,7,24
1048564,130470,media leaders,medialeaders.com,2007.0,marketing and advertising,Nov-50,"santa monica, california, united states",united states,linkedin.com/company/medialeaders,7,14
1048565,1171206,les vignerons du pays d'ensérune,None,1901.0,wine and spirits,Nov-50,None,None,linkedin.com/company/les-vignerons-du-pays-d'e...,7,42
1048566,7039515,holland surfing association,hsa.nl,NaN,sports,Nov-50,None,None,linkedin.com/company/holland-surfing-association,7,17
1048567,4352952,ax3 fulltech,ax3group.com,2009.0,information technology and services,Nov-50,"madrid, madrid, spain",spain,linkedin.com/company/ax3-fulltech,7,13
1048568,4232207,valeo design & marketing,valeomarketing.com,2005.0,marketing and advertising,Nov-50,"memphis, tennessee, united states",united states,linkedin.com/company/valeo-design-&-marketing,7,13
1048569,1997515,legal & commercial solutions,lcsolutions.co.za,NaN,legal services,Nov-50,None,None,linkedin.com/company/legal-&-commercial-solutions,7,7
1048570,2031369,parsonstko,parsonstko.com,2013.0,information technology and services,Nov-50,"washington, district of columbia, united states",united states,linkedin.com/company/parsonstko,7,9
1048571,1482565,"black onyx corporation, llc",blkonx1.com,NaN,financial services,Nov-50,"portage, michigan, united states",united states,linkedin.com/company/black-onyx-corporation-llc,7,9
1048572,6436490,carol king landscape maintenance,carolkingscapes.com,1960.0,facilities services,Nov-50,"orlando, florida, united states",united states,linkedin.com/company/carol-king-landscape-main...,7,11
1048573,5751781,howell carnegie district library,howelllibrary.org,1906.0,libraries,Nov-50,"howell, michigan, united states",united states,linkedin.com/company/howell-carnegie-district-...,7,13
1048574,5751767,pricefy,pricefy.com.br,2017.0,computer software,Nov-50,None,None,linkedin.com/company/pricefy,7,9